<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app-test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- SPRING FWK -->
    <logger name="org.springframework.orm.jpa.JpaTransactionManager"  >
        <level value="debug"/>
    </logger>
    <logger name="org.springframework.transaction"  >
        <level value="info"/>
    </logger>

    <!-- HIBERNATE -->
    <logger name="org.hibernate.type.descriptor.sql"  >
        <level value="info"/>
    </logger>
    <logger name="org.hibernate.stat"  >
        <level value="debug"/>
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.hibernate"  >
        <level value="info"/>
    </logger>

    <!-- Hibernate bytecode enhancer -->
    <logger name="org.hibernate.bytecode.enhance"  >
        <level value="debug"/>
    </logger>
    <logger name="org.hibernate.bytecode.spi"  >
        <level value="debug"/>
    </logger>

    <logger name="com.zaxxer.hikari"  >
        <level value="info"/>
    </logger>

    <logger name="org.postgresql.jdbc.PgConnection"  >
        <level value="debug"/>
    </logger>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>